* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 10px;
}

main {
    padding: 10px;     
}

.container {
    display: inline-block;
    cursor: pointer;
}

#sums1 {
    text-align: center;
}

#sums1 .box {
    display: flex;
    justify-content: center;
}

#sums1 ol {
    display: grid;
    grid-template-columns: repeat(5, 1fr);  
    gap: 20px;
}

#sums1 li {
    padding: 5px;
}


